<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Admin | Log in</title>
    <link rel="stylesheet" href="~/Admin/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/Admin/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="login-box" style="margin-top:-150px">
        <div class="login-logo">
            <b>ADMIN</b>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Enter your email</p>
                <h6 style="color:orangered;">@(ViewBag.Error != null ? ViewBag.Error : "")</h6>
                <form asp-controller="home" asp-action="forgotpassword" method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" name="email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/Admin/plugins/jquery/jquery.min.js"></script>
    <script src="~/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/dist/js/adminlte.min.js"></script>
    <script src="~/LibraryFontEnd/js/scriptACE.js"></script>
    <script src="~/LibraryFontEnd/js/sweetalert2@9.js"></script>
    <script src="~/LibraryFontEnd/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            if ('@ViewBag.Result' == "OK") {
                alertSuccess("Plase check mail");
            }
        })
    </script>
</body>
</html>
