@model Project.Models.ViewModels.UserView;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Admin | Log in</title>
    <link rel="stylesheet" href="~/Admin/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/Admin/dist/css/adminlte.min.css">
    <link href="~/LibraryFontEnd/css/styleACE.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="login-box" style="margin-top:-150px">
        <div class="login-logo">
            <b>Change password</b>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password" id="pw">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Confirm password" id="rpw" asp-for="Password" autocomplete="current-password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span id="span-confirm" class="fas"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary btn-block" id="btnsubmit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Admin/plugins/jquery/jquery.min.js"></script>
    <script src="~/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/dist/js/adminlte.min.js"></script>
    <script src="~/LibraryFontEnd/js/scriptACE.js"></script>
    <script src="~/LibraryFontEnd/js/sweetalert2@9.js"></script>
    <script src="~/LibraryFontEnd/js/select2.min.js"></script>
    <script>
        $('#rpw').keyup(function () {
            //fa-check fa-times
            if ($('#rpw').val() == $('#pw').val()) {
                $('#span-confirm').removeClass('fa-times');
                $('#span-confirm').addClass('fa-check');
            } else {
                $('#span-confirm').removeClass('fa-check');
                $('#span-confirm').addClass('fa-times');
            }
        })

        $('#btnsubmit').click(function () {
            if ($('#rpw').val() === $('#pw').val()) {
                let user= {
                    Id:'@Model.Id',
                    Password: $('#rpw').val()
                };
                $.ajax({
                    url: '/admin/changePW',
                    method: 'POST',
                    dataType: 'json',
                    data: { 'userView': user },
                    success: function (data) {
                        if (data == "200") {
                            alertSuccessRedirect('/admin/login')
                        } else {
                            alertError();
                        }
                    },
                    error: function (a) {

                        console.log(a);
                    }
                })
            }
        })
    </script>
</body>
</html>
